*{
	margin: 0;
	padding:0;
	box-sizing:border-box;
	
}

.main{
	display: flex;
	justify-content:space around;
	background-color: #fff; 
}

.left{
	background-color: #5f4b8bff;
	width: 121px;
	height: 100%;
	position:fixed;
}

.left *{
	display: flex;
	flex-direction:column;
	height: 60px;
	padding: 10px;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover{
	text-decoration: none;
	color: #e69a8dff;
}

a:active {
	text-decoration: none;
}

a {
	font-family: Georgia, Times New Roman, Times, serif;
}

.cvt,.work{
	margin: 0;
	padding-top: 0px;
	padding-bottom: 10px;
	display: flex;
	flex-direction:column;
	
}

.body-container{
	display: flex;
	flex-direction:column;
	width: auto;
	margin: 5px; 
	padding-left: 121px;
	text-align: justify;
	background-position-x: 121px;
	/* left: 121px; */
	
}

section{
	display: flex;
	flex-direction:row;
	justify-content:center;	
}


section div{
 	border: 1px solid #000;
 	width: 470px;
 	margin: 30px;
 	padding: 30px;
}

p{
 	margin: 5px;
}

h1,h2,h3,em{
	text-align: center;
}

.h{
	position: relative;
	top: -46px;
	background-color: #fff; 
}

.f1{
	height: 5px;
	position: relative;
	top: 227px;
	background-color: #fff; 
 }

.f2{
	height: 5px;
	position: relative;
	top: 32px;
	background-color: #fff; 
 }

.footer{
	background-color: #e69a8dff;
	margin:0px -5px  -5px -5px ;
 	padding: 30px;
}

.soc{
	width:50px;
	height:50px;
	border-width: 8px ;
	border-style: solid;
	border-color: #fffeeb;
	border-radius: 100px;
	margin : 30px;
}

.footer a:hover{
	text-decoration: none;
	color: #5f4b8bff;
}


.body-contact, .body-login, .body-dash{
	margin: 5px;
	padding-left: 350px;
	position: relative;
	display: flex;
	flex-direction:column;
}

.body-contact span,.body-login span{
	display: flex;
	flex-direction:column;
	justify-content: center;
	padding-left: 50px;
}

input{
	width: 300px;
	height: 30px;
	padding: 10px;
	border-radius: 10px 10px 5px 5px;
	border-bottom: 2px solid #5f4b8bff;
}

textarea{
	border: 2px solid #5f4b8bff;
	font-family: Georgia, Times New Roman, Times, serif;
	height: 60px;
	width: 300px;
}

select{
	border: 2px  #5f4b8bff;
	border-style: groove;
	background-color: #5f4b8bff;
	width: 300px;
	height: 30px;
}

button{
	position: relative;
	left: 100px;
	width: 100px;
	background-color: #5f4b8bff;
	color: #000; 
	padding: 10px 30px;
}