*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.menu-container{
	height: 100%;
	color: #000;
	background-color: #e69a8dff;
	display: flex;
	flex-direction:row;
}

.menu{

	display: flex;
	background-color: #e69a8dff;
	flex-direction:column;
}

.info{
	width: 1000px;
	display: flex;
	flex-direction:column;
	text-align: center;
	margin: 20px;	
}

h1{
	color: #5f4b8bff;
		
}

.links *{

	width: 80px ;
	background-color: #5f4b8bff;
	text-align: center;
	margin: 0px;
	border-spacing: 15px;
}

.links :hover {
	/*text-decoration: none;*/
	background-color: #5f4b8bff;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: none;
	color: #e69a8dff;
}

a:active {
	text-decoration: none;
}

a {
	font-family: Georgia, Times New Roman, Times, serif;
}

.links {
	display:flex;
	justify-content:flex-end;
	position: absolute;
	top: 90px;
	right: 130px;

}

.login{
	width: 120px;
}